@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

/* ------------------------------- */
/* -------- App.jsx --------- */
/* ------------------------------- */

.main {
  width: 28rem;
  margin: 2rem auto;
  padding: 10px;
  background: linear-gradient(to right, #16a0b0, #1c2541);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.forecast-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.forecast-map {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 0.25rem;
}

.hourlyforecast-heading {
  font-weight: 300;
}

.today-and-forecast {
  width: 100%;
}

.hr {
  margin: 0.5rem 0;
}

/* ------------------------------- */
/* ----- Forecast.jsx --------- */
/* ------------------------------- */

.forecast-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 0.875rem;
}

.little-images {
  width: 3rem;
  margin: 0.25rem 0;
}

/* ------------------------------- */
/* Location.jsx */
/* ------------------------------- */

.location-section {
  width: 100%;
}

.location-input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  padding: 0 2.5rem;
}

.location-input-field {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 0;
  padding-left: 0.25rem;
  width: 100%;
  border: none;
  border-radius: 0.125rem;
  color: #71757a;
}

.location-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-title {
  font-size: 1.5rem;
  font-weight: 400;
}

/* ------------------------------- */
/* ----- Today.jsx --------- */
/* ------------------------------- */

.weather-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-description {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.weather-description p {
  color: #17b6b8;
  text-transform: capitalize;
  margin: 0;
  font-size: 1.2rem;
}

.weather-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  width: 100%;
  max-width: 30rem;
}

.weather-icon {
  height: 7rem;
  width: 7rem;
}

.small-weather-icon {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.4rem;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  margin-bottom: 3rem;
}

.temperature {
  margin: 0;
  font-size: 8rem;
  font-weight: normal;
}

.weather-data .weather-feel {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.weather-data .weather-feel i {
  margin-right: 1rem;
}

.weather-data .weather-humidity {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
}

.weather-data .weather-humidity i {
  margin-right: 1rem;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.weather-info .weather-info-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.weather-info .weather-info-item:last-child {
  margin-right: 0;
}

.weather-info .weather-info-item i {
  margin-right: 0.5rem;
}
